<ul class="blog-list">
    {% for post in site.posts %}
        <li class="blog-list-item clearfix" style="background-size: contain; background-repeat: no-repeat; background-position: right; background-image: linear-gradient(to left, rgba(255,255,255,0.5) 0%, rgba(255,255,255,1) 50%), url('{{ post.image }}');">
            <p class="blog-title"><a href="{{ post.url }}">{{ post.title }}</a></p>
            <p class="blog-date">{{ post.date | date: "%B %e, %Y" }}</p>
            {% if post.description %}
                <p class="blog-description">{{ post.description }}</p>
            {% endif %}
        </li>
    {% endfor %}
</ul>