            <footer class="px-3 py-2 text-muted bg-light">
                <div class="float-right"><img alt="UHF 62" src="/assets/logo.png" height="80"></div>
                <p><small>UHF 62 Limited. Company number 11114211.</small></p>
                <p><small><a href="mailto:hello@uhf62.co.uk">hello@uhf62.co.uk</a></small></p>
                {% if page.image-credit-name %}
                    {% if page.image-credit-url %}
                        <p><small><a href="{{ page.image-credit-url }}">Header photo by {{ page.image-credit-name }}.</a></small></p>
                    {% else %}
                        <p><small>Header photo by {{ page.image-credit-name }}.</small></p>
                    {% endif %}
                {% endif %}
            </footer>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</html>
