<footer class="px-3 py-2 pr-5 text-muted bg-light clearfix">
    <div class="row">
        <div class="col-lg-11 col-sm-10 col-9">
            <p>© {{ 'now' | date: "%Y" }} UHF 62 Limited.
                Company number 11114211.
                Registered in England and Wales.
                Registered address Flat 9, 26 Belgrave Road, London E11 3RE.
                Logo design by Jo Gardiner.
                {% if page.image-credit-name %}
                    {% if page.image-credit-url %}
                        <a href="{{ page.image-credit-url }}">Photography by {{ page.image-credit-name }}.</a>
                    {% else %}
                        Photography by {{ page.image-credit-name }}.
                    {% endif %}
                {% endif %}
                Visit us on <a href="http://linkedin.com/company/uhf62/">LinkedIn</a>,
                <a href="https://github.com/uhf62">GitHub</a>, or email us
                at <a href="mailto:hello@uhf62.co.uk">hello@uhf62.co.uk</a>.
            </p>
        </div>
        <div class="col-lg-1 col-sm-2 col-3">
            <a href="/"><img src="{{ site.logo }}"></a>
        </div>
    </div>
</footer>
