<nav class="navbar navbar-expand-md navbar-light bg-light text-brand">
    <a class="navbar-brand" href="/"><img alt="UHF 62" src="{{ site.logo }}" height="30"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/what-we-do">What We Do</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about/craig">About Craig</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/policies">
                    <span class="d-none d-lg-inline">Values &amp; </span>Policies
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/blog">Blog</a>
            </li>
        </ul>
        <form class="form-inline" action="https://google.com/search">
            <input type="hidden" name="as_sitesearch" value="uhf62.co.uk">
            <input name="q" class="form-control form-control-sm mr-2" type="text" aria-label="Search">
            <button class="btn btn-sm my-0" type="submit">Search</button>
        </form>
    </div>
</nav>
