@charset "utf-8";

$blue:    #0097C1 !default;
$yellow:  #FFC80A !default;

@import "bootstrap/bootstrap";

$font-family-serif: Georgia, serif;

footer {
  font-size: 80%;
  img {
    filter: grayscale(100%) opacity(60%);
    width: 100%;
  }
}

blockquote {
  font-family: $font-family-serif;
  font-style: italic;
  padding-left: 8.333%;
}

$hl-transparency: 0.2;
$hl-padding: 0.5rem 1rem;

.hl {
  padding: $hl-padding;
}

@each $color, $value in $colors {
  .hl-#{$color} {
    background-color: transparentize($value, $hl-transparency);
  }
}

.jumbotron {
  background-size: cover;
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    .jumbotron {
      @if map-get($grid-breakpoints, $breakpoint) > 0 {
        min-height: map-get($grid-breakpoints, $breakpoint) * 0.333;
      } @else {
        min-height: 33.3vw;
      }
    }
  }
}

@media (min-width: map-get($grid-breakpoints, 'md')) {
  aside {
    h1, .h1 { font-size: $font-size-base; }
    h2, .h2 { font-size: $font-size-base; }
    h3, .h3 { font-size: $font-size-base; }
    h4, .h4 { font-size: $font-size-base; }
    h5, .h5 { font-size: $font-size-base; }
    h6, .h6 { font-size: $font-size-base; }
  }
}

html, body {
  height: 100%;
}

.background-image {
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;

  .container>p {
    padding: $hl-padding;
    background-color: transparentize($yellow, $hl-transparency);
    a {
      color: darken($link-color, 15%);
    }
  }
}
