{% include top.html %}
<div class="container">
    <article class="py-3">
        {% include title-and-lead.html %}
        {% if page.sidebar-links %}
            <div class="row">
                <div class="col-md-8 col-lg-9">
                    {{content}}
                </div>
                <div class="col-md-4 col-lg-3">
                    {% include sidebar-links.html %}
                </div>
            </div>
        {% else %}
            {{content}}
        {% endif %}
    </article>
    {% include footer.html %}
</div>
{% include bottom.html %}
