{% include top.html %}
<body>
    <div class="background-image d-flex" style="background-image: url('{{ page.background-image }}'){% if page.image-position %}; background-position: {{ page.image-position }}{% endif %}">
        <div class="container align-self-center py-3">
            <div class="row pb-3">
                <div class="col-4"></div>
                <div class="col-4"><img src="{{ site.logo }}" alt="UHF 62 Logo" class="img-fluid"></div>
                <div class="col-4"></div>
            </div>

            {% if page.title %}
                <h1 class="hl hl-blue">{{ page.title }}</h1>
            {% endif %}
            {% if page.description %}
                <p class="lead hl hl-yellow">{{ page.description }}</p>
            {% endif %}

            {{content}}

            <div id="testimonials" class="carousel slide mb-3 hl hl-yellow" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for testimonial in site.testimonials reversed %}
                        <li data-target="#testimonials" data-slide-to="{{ forloop.index0 }}"{%if forloop.first %} class="active"{% endif %}></li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for testimonial in site.testimonials reversed %}
                        <div class="carousel-item{%if forloop.first %} active{% endif %}">
                            <blockquote>
                                {{ testimonial.content }}
                                <footer>
                                    —{{ testimonial.name }}, {{ testimonial.title }}, {{ testimonial.organisation }}
                                </footer>
                            </blockquote>
                        </div>
                    {% endfor %}
                </div>
            </div>

            {% include footer.html %}
        </div>
    </div>
</body>
{% include bottom.html %}
